.play-wrapper {
  display: flex;
  justify-content: center; /* Centrera horisontellt */
  height: 100%; /* Ta upp hela skärmens höjd */
  width: 100%; /* Ta upp hela skärmens bredd */
  padding-top: 90px;
}



.play-container {
  color: #e5e5e5;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  overflow-wrap: break-word; /* Samma som word-wrap, men mer stöd */
}

.top-play {
  display: flex;
  justify-content: space-between;
}

.topleft {
  display: flex;
  align-items: center;
}

  .circle {

    width: 75px; /* Exempelstorlek */
    height: 75px;
    border-radius: 50%;
    background-color: blue; /* Eller annan önskad färg */
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }



  
  .username {
    font-weight: 900;
    font-size: 21px;
    margin-left: 10px;
    margin-right: 10px; /* Utrymme mellan Username och Betyg */
    /* Ytterligare stil för användarnamnet */
  }
  

  
  .mission-points {
    color: rgb(212, 215, 24);
    font-size: 22px;
    font-weight: bolder;
    justify-content: space-between;
  }
  .mission-points:hover {
    color: #ffed28;
    scale: 1.2;
  }


  .total-users {
    margin-bottom: 30px;
  }
  
  .mission-title {
    font-size: 25px;
    font-weight: normal;
    color: white;
    margin-top: 40px; /* Justera detta värde vid behov */
    margin-bottom: 50px;
    max-width: fit-content;
  }
  
  .mission-details {
    color: white;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .user-villkor {
    margin-top: 0px;
    margin-bottom: 25px;
  }
  
  .villkor-time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
  }

  .time-display {
   font-size:medium;
   margin-right: 1px;
   margin-bottom: 10px;
  }
  
  .villkor-title {
    font-weight: bold;
    /* Andra stilar för "Villkor"-titeln */
  }
  


  .box-title-motivering {
    position: absolute;
    margin-top: 10px;
    margin-left: 17px;
    width: 92px;
    height: 4px;
    background-color: #082744;
  }

.title-motivering {
    position: absolute;
    color: #ffffff;
    margin-top: -1px;
    margin-bottom: 10px;
    margin-left: 19px;
    font-size: 17px;
    font-weight: bold;
  }
  /* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover */
  /* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover */
  .motivering {
    position: initial; /* För positionering av cirkeln och poäng */
    border-radius: 0px 10px 0px 10px;
    padding: 20px 3.5% 0 3.5%;
    width: 93%;
    height: 68px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #08274439;
    color: #e5e5e5;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0.5px solid #ffffff;
    resize: none; /* Hindrar användaren från att manuellt ändra storleken */
    overflow: hidden; /* Håller innehållet inom ramarna av textarea */
    min-height: 48px; /* Start höjd */
    animation: motovation 4s ease-in-out infinite;
    
  }
/* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover *//* Bakgrundsfärg vid hover */
  .motivering:hover {
    background-color: #13436d;
  }


@keyframes motovation {

  40% {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.135);
    }
  0%,  100% {
      box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.997);

  }
}





  
  .play-checkbox-container {
    margin-top: 10px;
    font-weight: lighter;
    display: flex;
  }

    .godkann {
        font-size: 16px;
        margin-left: 10px;
        margin-top: 0px;
    }

    .play-checkbox-container-picture {
        font-weight: lighter;
      }

      .bifoga-bild {
        font-size: 16px;
        margin-left: 25px;
        margin-top: -18px;
        display: flex;

      }

      .uploaded-file-name {
        margin-left: 10px;
        
      }

    
  
  .status-submit {
    display: flex;
    justify-content: space-between;
  }

  .skicka-in {
    color: green;
    background-color: transparent;
    border: transparent;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;

  }
  
  .custom-hr {
    margin-top: 0px;
    margin-bottom: 10px;
    height: 1px;
    opacity: 0.5;
    background-color: rgb(255, 255, 255); /* Guld färg för denna specifika HR */
  }
  
        .status-info {
            display: flex;
            justify-content: space-between;
        }

        .väntar {
            color: #5c5c5c;
            cursor: pointer;

        }

        .deltar {
            color: rgb(255, 255, 255);
            cursor: pointer;

        }

        .klara {
            color: #FFD700; /* Bakgrundsfärg vid hover */
            cursor: pointer;

        }
  
  /* Använd samma stil som i create.css för denna HR */
  .play-hr {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    opacity: 0.1;
    background-color: rgb(255, 255, 255);
  }

  .text-options {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }










  .motivering-item {
    display: flex;
    align-items: flex-start; /* Anpassar den röda cirkeln till toppen av motiveringstexten */
    margin-top: 10px;
  }
  
  .red-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-left: -40px;
    margin-top: 31px;
  }

  .nutid {
    position: absolute;
    margin-left: -38px;
    margin-top: 25px;
  } 
  

  .motivering-content {
    flex-grow: 1;
    margin-left: -20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
  }
  
  .motivering-header {
    display: flex;
    margin-bottom: 5px; /* Utrymme mellan header och motiveringstext */
    margin-left: 20px;
    margin-top: -21px;
  }

 /*   .anvandare {

    }*/

    .betyg {
        margin-left: 10px;

    }


    .ellipsis {
      margin-top: 12px;
      margin-left: auto; /* Flytta ellipsis till höger */
      /* Ytterligare stil om det behövs */
    }
    



    .uploaded-image {
      max-width: 95%; /* Se till att bilden passar inom dess behållare */
      height: auto; /* Bibehåll bildens aspektförhållande */
      margin-bottom: 20px; /* Lägg till lite utrymme under bilden */
      margin-left: 20px;
    }
  
    

    .motivering-text {
        margin-top: -10px;
        margin-left: 21px;
    }

      .motivering-footer {
        display: flex;
        justify-content: space-between;
        font-size: 12px; /* Justera storleken efter behov */
        width: 95%;
        margin-left: 21px;
        margin-top: 35px;
      }
      
      .comment-hr {
        margin-top: 10px;
        margin-left: 19px;
        margin-bottom: -5px;
        width: 95%;
        opacity: 0.5;
        background-color: rgb(255, 255, 255); /* Anpassa färg efter behov */
      }
  
  
.comment-input {
    height: 36px;
    width: 340px;
    padding-top: 16px;
    padding-left: 10px;
    margin: 5px 0px 27px 19px;

    background-color: #082744;
    color: #e5e5e5;
    border-inline: 1px solid #00000000;
    border-top: 1px solid #00000000;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 0.5px solid #ffffff;
    resize: none; /* Hindrar användaren från att manuellt ändra storleken */
    overflow: hidden; /* Håller innehållet inom ramarna av textarea */
    min-height: 10px; /* Start höjd */
  }



.send-svar {
    position: absolute;
    margin-left: 10px;
    margin-top: 22px;
    background-color: transparent;
    border: transparent;
    color: white;
}



.response-item {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 60px;
}

        .red-circle2 {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: red;
            margin-left: -40px;
            margin-top: -74px;
        }
        
        .svaret {
            position: absolute;
            margin-left: -10px;
            margin-top: -40px;
            margin-bottom: 40px;
        }

  .end-hr {
    width: 100%;
    margin-top: 0px;
    margin-bottom: -30px;
  }

  .acceptera.accepted {
    color: green;
  }
  
  .belona {
    color: white;
    /* Övrig styling om nödvändigt */
  }
  
  .belona.belonad {
    color: gold; /* Ändra färgen till guld för 'Belönad' */
  }
  
  .uppdatera {
    color: white; /* Stil för 'Uppdatera' */
  }
  