.profil-container {
  padding-top: 80px;
  width: 67%;
  margin-left: 11%;
}

  .back-button-profile {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    border-color: transparent;
    color: white;
    top: 30px;
    left: 60px;
    cursor: pointer;
    rotate: 45deg;
    font-size: 30px;
  }

  
  .profile-circle {
    width: 80px;
    height: 80px;
    border: 1px solid #ffe70e;
    border-radius: 50%;
    background-color: rgba(221, 221, 221, 0.774);
    background-size: cover;
    margin-left: 50px;
    display: flex;
    left: 0;
    margin-top: 40px;
    margin-bottom: 8px;

  }
  
  .usernamea {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: -84px;
    margin-left: 165px;
}

.ratings-container {
    display: flex;
    margin-top: -40px;
    margin-left: 165px;
}
  
                    .small-circle1 {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #ddd; /* Change color as needed */
                        margin-right: 3px;
                    }
                    .small-circle2 {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #10a71f; /* Change color as needed */
                        margin-right: 5px;
                    }
                    .small-circle3 {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #e4c70c; /* Change color as needed */
                        margin-right: 5px;
                    }
                    
                    .rating-number {
                        color: white;
                        margin-right: 15px;
                        margin-top: -2px;
                    }
  
  .betyg-label {
    font-size: 16px;
    color: #10a71f;
    margin-top: 10px;
    margin-bottom: 20px; 
    margin-left: 80%; 
}


.chat {
  display: absolute;
  margin-top: 38px;
  margin-bottom: -31px;
  margin-left: 14%;
  color: white;
  font-weight: bolder;
}
  

  
  .profile-hr {
    border: none;
    height: 0.5px;
    background-color: #e4c70c; /* Set the color to yellow */
    width: 80%;
    margin: auto;
    margin-bottom: -10px;
  }






  .category {
  color: #e4c70c; 
  margin-left: 13.5%;
  }

  


  .mission-item {
    color: white;
    margin-left: 14%;
    margin-top: 5%;
    margin-bottom: 5%;

  }




  .scroll-list {
    border: rgba(255, 255, 255, 0.202) solid 1px;
    width: 80%;
    margin: auto;
    padding: 0;
    overflow-x: auto; /* Tillåter horisontell scrollning */
    white-space: nowrap; /* Hindrar innehållet från att brytas ned på nya rader */
  }
  
  .edit-profile {
    display: inline-block; /* Gör så att elementen arrangeras horisontellt */
    margin-left: 4%;
  }
  
  .edit-profile-name {
    display: inline-block; /* Gör så att elementen arrangeras horisontellt */
    margin-left: 4%;
  }
  
  .log-out-button {
    display: inline-block; /* Gör så att elementen arrangeras horisontellt */
    margin-left: 8%;
  }
  

.edit-user {
  position: absolute;
  width: 20px;

}

