/* Ta bort all standard-styling */
.App {
  text-align: center;
}

/* Dölja scrollbaren för WebKit-baserade webbläsare */
*::-webkit-scrollbar {
  display: none;
}

/* Dölja scrollbaren för Firefox */
* {
  scrollbar-width: none;
}

/* För att säkerställa att innehållet fortfarande är skrollbart */
* {
  -ms-overflow-style: none;  /* För Internet Explorer och Edge */
}

